/* Icon Component Styles
 * Following AGENTS.md design system
 */

.ui-icon-6e409eb {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: currentColor;
}

.ui-icon-6e409eb svg {
    width: 100%;
    height: 100%;
}

/* Sizes */
.ui-icon_sm-6e409eb {
    width: 16px;
    height: 16px;
}

.ui-icon_md-6e409eb {
    width: 20px;
    height: 20px;
}

.ui-icon_lg-6e409eb {
    width: 24px;
    height: 24px;
}

.ui-icon_xl-6e409eb {
    width: 32px;
    height: 32px;
}